@import 'fn.scss';

html,body {
    width:auto;
    height:auto;
    min-width:auto;
}

nav {
    display:none;
}

#main-col {
    display:block;
    height:auto;
    margin:0 auto;

    header {
        margin:25px 0 0 0;
        width:auto;

        img {
            width: 75%;
        }
    }

    #container {
        position:relative;
        margin: 0 auto;
        width:auto;
        margin-top:5vh;
        padding-bottom:5vh;
        margin-left:0;

        #intermediary {
            perspective: none;
        }

        #cube {
            @include transform(none);
            width:auto;
            height:auto;
            margin-bottom:50px;

            .face {
                width:85vw;
                height:85vw;
                position:relative;

                &:not(:last-of-type) {
                    margin-bottom:5vh;
                }

                @include transform(none !important);
                position:relative;

                &.photos .photo-item{
                    margin:0;
                    padding: 0% 0 0 0%;
                }

                &.instagram .caption {
                    display:none;
                }

                &.solution .solution-item {
                    margin:0;
                    padding: 0% 0 0 0%;
                }
            }
        }
    }
}

footer {
    height:50px;

    ul {
        width:95%;
        margin: 0 2.5%;
    }
}