@import 'fn.scss';
@import 'base.scss';

html,body {
    width:auto;
    height:auto;
    min-width:inherit;
}

nav {
    display:none;
}

#main-col {
    display:block;
    height:auto;
    width:95vw;
    margin:0 auto;

    header {
        margin:25px 0 0 0;
        width:auto;

        a {
            text-align: center;
        }

        img {
            width: 75%;
        }
    }

    #container {
        position:relative;
        margin: 0 auto;
        width:auto;
        margin-top:5vh;
        padding-bottom:5vh;
        margin-left:0;
        width:95vw;

        perspective: none;

        #cube {
            @include transform(none);
            margin-bottom:50px;
            width:auto;
            height:auto;

            .label {
                background-color:yellow;
                text-transform: uppercase;
                text-align: center;
                margin: 10px 0;
                padding: 10px 0;
                font-family: $graphik;

                h1 {
                    margin:0;
                }
            }

            .face {
                width:95vw;
                height:95vw;
                position:relative;


                @include transform(none !important);
                position:relative;

                &.photos .photo-item{
                    margin:0;
                    padding: 0% 0 0 0%;
                }

                &.instagram .caption {
                    display:none;
                }

                &.solution .solution-item {
                    margin:0;
                    padding: 0% 0 0 0%;
                }
            }
        }
    }
}

footer {
    height:50px;

    ul {
        width:95%;
        margin: 0 2.5%;
        min-width:inherit;

        li {
            font-size:11px;
        }
    }
}

#modal {
    height: 78vh;

    #body {
        display:block;

        .img {
            margin: 0 auto;
        }

        #text {
            width:100%;
            font-size:14px;
        }
    }
}

@media screen and (min-width: 600px) {
    #modal {
        #body {
            .img {
                width:20%;
            }

            #text {
                font-size:12px;
            }
        }
    }

    #main-col #container #cube {
        .face {
            width:45vw;
            height:45vw;
        }
    }
}