@import 'base.scss';

html,body {
    margin:0;

    width:50000px;
    height:50000px;
    background-image:url(/img/dot.svg);
    background-size: 10px 10px;

    font-family:Arial;

    //-webkit-font-smoothing: antialiased;
    //-moz-osx-font-smoothing: grayscale;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

$iw: 612px;
$ih: 612px;


#logo {
    position:fixed;
    left:5px;
    bottom:5px;
    width:15vw;
}

nav {
    @include flexbox();
    @include direction(column);

    left:25px;
    top:35px;
    position:fixed;
    z-index:99;

    hr {
        margin: 5px 0 10px 0;
        border-color:blue;
    }

    a {
        padding: 8px 0;
        text-align:center;
        text-decoration: none;
        background-color:transparent !important;


        span {
            @include transition(color .3s, border-color .3s);

            display:block;
            max-width:100px;
            text-transform:uppercase;
            font-family: $graphik;
            padding: 7px 12px;
            background-color:#FFF !important;
            border:solid 2px #000;
            line-height:20px;
        }

        &.yellow {
            background-color:rgb(255,242,0);
        }

        &:link {
            color:#000;
        }

        &:visited {
            color:#000;
        }

        &:hover {
            span {
                color:$hover-color;
                border-color:$hover-color;
            }
        }
    }
}

#note {
    @include transition(opacity .3s ease-in-out);

    position:fixed;
    right:1%;
    top:10%;
    padding: 10px;
    text-align:left;
    background-color:#FFF;
    width:100px;
    opacity:0.8;
    font-family: $graphik;

    &.hidden {
        opacity:0;
    }
}

$kw: 75px;
#keyMap {
    position:fixed;
    right:3%;
    top:3%;
    list-style-type:none;
    z-index:99;

    li {
        position:absolute;
        cursor:pointer;

        &:hover {
            color:$hover-color;
        }
    }

    li:nth-child(1) {
        @include transform(translateX(-$kw) translateY(2px));
    }
    li:nth-child(2) {
        @include transform(translateX(-$kw/2) translateY(-$kw*0.4) rotateZ(90deg));
    }
    li:nth-child(3) {
        @include transform(rotateZ(180deg));
    }
    li:nth-child(4) {
        @include transform(translateX((-$kw/2)+1px) translateY(0px) rotateZ(-90deg));
    }
}

#container {
    position:fixed;
    left: 50%;
    top:50%;
    margin-left: -($w/2);
    margin-top: -($h/2);

    #intermediary {
        perspective: 3000px;
        perspective-origin: 50% 50%;
    }

    #cube {
        @include transition(opacity .35s ease-in-out);

        z-index:99;
        padding:0;
        list-style-type:none;
        margin:0;
        opacity:1;

        width:$w;
        height:$h;

        -webkit-transform-style: preserve-3d;
        -moz-transform-style:preserve-3d;

        &.ready {
            opacity:1;
        }

        &.smoothing {
            @include transition(transform .66s ease-in-out);
        }

        @include transform(translateZ(-$w/2));

        .face {
            position:absolute;
            width:100%;
            height:100%;

            /* ie specific code */
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                backface-visibility: hidden;

                &.smoothing {
                    @include transition(transform .66s ease-in-out);
                }
            }

            &.photos {

                .photo-item {
                    cursor: pointer;

                    width:92%;
                    height:92%;
                    margin-top:4%;
                    margin-left:4%;

                    .photo-slideshow {
                        padding:0;
                        position:relative;
                        width:100%;
                        height:100%;

                        li {
                            @include transition(opacity .3s ease-in-out);

                            position:absolute;
                            list-style-type: none;
                            width:100%;
                            height:100%;
                            background-size:cover;

                            opacity:0;

                            &.active {
                                opacity:1;
                            }

                            .caption {
                                width:50%;
                                padding: 25px;
                                line-height:25px;

                                h1 {
                                    font-family:$goff;
                                    font-weight:normal;
                                    font-size:20px;
                                }

                                p {
                                    font-family: $goff;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }

            &.instagram {
                /* 2x2 grid */

                $pw: 85%;
                $cols: 2;
                .photo {
                    position:relative;
                    width:$pw/$cols;
                    float:left;
                    margin-left: (100-$pw)/($cols+1);
                    margin-top: (100-$pw)/($cols+1);

                    img {
                        width:100%;
                    }

                    &:hover a {
                        opacity:1;
                    }

                    a {
                        @include transition(opacity .3s ease-in-out);
                        position:absolute;
                        display:block;
                        width:100%;
                        height:50%;
                        padding:50% 0 0 0;
                        top:0;
                        left:0;
                        background-color:rgba(105,105,105,0.75);
                        z-index:100;
                        text-align: center;
                        line-height:$pw/$cols;
                        color:#FFF;
                        text-decoration: none;
                        opacity:0;
                        font-family:$goff;
                        font-size:20px;
                    }
                }
            }

            &.youtube {
                @include flexbox();
                @include direction(column);
                @include align(center);
                @include justify(center);

                .video {
                    width:90%;
                    height:70%;
                    color:#FFF;

                    iframe {
                        width:100%;
                        height:100%;
                    }
                }
            }

            &.solution {

                .solution-item {
                    cursor: pointer;

                    width:92%;
                    height:92%;
                    margin-top:4%;
                    margin-left:4%;

                    .solution-slideshow {
                        padding:0;
                        position:relative;
                        width:100%;
                        height:100%;

                        li {
                            @include transition(opacity .3s ease-in-out);

                            position:absolute;
                            list-style-type: none;
                            width:100%;
                            height:100%;
                            background-size:cover;

                            opacity:0;

                            &.active {
                                opacity:1;
                            }

                            .caption {
                                position:absolute;
                                right:30px;
                                bottom:15px;
                                font-family:$goff;
                                font-size:60px;

                                @extend .noselect;
                            }
                        }
                    }
                }
            }

            .lock {
                position:absolute;
                right: 10px;
                top:10px;
                width:25px;
                cursor:pointer;
                z-index:100;
            }

            /* geometry definitions */
            @include faces($w);
        }
    }
}

#credits {
    position:fixed;
    right:10px;
    bottom:5px;
    font-size:13px;
    font-family:$graphik;
}

.goff-blk {
    font-family: $goff;
    font-weight:normal;
}
.goff-bold {
    font-family:$goff;
    font-weight:bold;
}
.graphik-reg {
    font-family:$graphik !important;
}

html[data-useragent*='MSIE 10.0'] {

    nav {
        a {
            float:left;
        }
    }

    #container #cube .face {

        &.photos {
            display:block;
        }
    }
}

@media screen and (max-width: 480px) {
    html,body {
        width:100vw;
        height:100vh;
    }

    nav {
        display:block;
        left:5vw;
        top:10px;
        width:95vw;

        hr {
            height:30px;
            width:0px;
            float:left;
            margin-left:10px;
        }

        a {
            font-size:12px;
            padding: 10px 15px;
            margin-left:10px;
            margin-bottom:10px;
            max-width:100%;
            float:left;
        }
    }

    #note {
        display:none;
    }

    #keyMap {
        display:none;
    }


    $w: 90vw;
    $h: $w;
    #container {
        left:50vw;
        top:60vh;
        margin-left: -($w/2);
        margin-top: -($h/2);

        #cube {
            width:$w;
            height:$h;

            .face {
                .lock {
                    position:absolute;
                    right: 3px;
                    top:3px;
                    width:35px;
                    cursor:pointer;
                    z-index:100;
                }

                /* geometry definitions */
                @include faces($w);
            }
        }
    }
}

@media screen and (max-width: 320px) {
    nav {
        hr {
            height:15px;
        }

        a {
            font-size:10px;
            padding:7px 12px;
        }
    }
}