/* flexbox specs */
/* global style variables */
/* TODO: colors defined here */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  /* non-prefixed version, currently
                                  not supported by any browser */ }

.front {
  background-color: #ff0000; }
  .front svg path {
    fill: #FFF; }
  .front:hover span {
    color: #ff0000; }

.right {
  background-color: #0033CC; }
  .right svg path {
    fill: #FFF; }
  .right:hover span {
    color: #0033CC; }

.back {
  background-color: #006666; }
  .back svg path {
    fill: #FFF; }
  .back:hover span {
    color: #006666; }

.left {
  background-color: #FF99CC; }
  .left:hover span {
    color: #FF99CC; }

.top {
  background-color: #000; }
  .top svg path {
    fill: #FFF; }
  .top:hover span {
    color: #FFF; }

.bottom {
  background-color: #FFCC00; }
  .bottom:hover span {
    color: #FFCC00; }
