/* flexbox specs */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

html, body {
  width: auto;
  height: auto;
  min-width: inherit; }

nav {
  display: none; }

#main-col {
  display: block;
  height: auto;
  width: 95vw;
  margin: 0 auto; }
  #main-col header {
    margin: 25px 0 0 0;
    width: auto; }
    #main-col header img {
      width: 75%; }
  #main-col #container {
    position: relative;
    margin: 0 auto;
    width: auto;
    margin-top: 5vh;
    padding-bottom: 5vh;
    margin-left: 0;
    width: 95vw; }
    #main-col #container #intermediary {
      perspective: none; }
    #main-col #container #cube {
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      transform: none;
      margin-bottom: 50px;
      width: auto;
      height: auto; }
      #main-col #container #cube .face {
        width: 95vw;
        height: 95vw;
        position: relative;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
        position: relative; }
        #main-col #container #cube .face:not(:last-of-type) {
          margin-bottom: 5vh; }
        #main-col #container #cube .face.photos .photo-item {
          margin: 0;
          padding: 0% 0 0 0%; }
        #main-col #container #cube .face.instagram .caption {
          display: none; }
        #main-col #container #cube .face.solution .solution-item {
          margin: 0;
          padding: 0% 0 0 0%; }

footer {
  height: 50px; }
  footer ul {
    width: 95%;
    margin: 0 2.5%;
    min-width: inherit; }
    footer ul li {
      font-size: 11px; }
