/* flexbox specs */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* flexbox specs */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* global style variables */
/* TODO: colors defined here */
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  /* non-prefixed version, currently
                                  not supported by any browser */ }

html, body {
  width: auto;
  height: auto;
  min-width: inherit; }

nav {
  display: none; }

#main-col {
  display: block;
  height: auto;
  width: 95vw;
  margin: 0 auto; }
  #main-col header {
    margin: 25px 0 0 0;
    width: auto; }
    #main-col header a {
      text-align: center; }
    #main-col header img {
      width: 75%; }
  #main-col #container {
    position: relative;
    margin: 0 auto;
    width: auto;
    margin-top: 5vh;
    padding-bottom: 5vh;
    margin-left: 0;
    width: 95vw;
    perspective: none; }
    #main-col #container #cube {
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      transform: none;
      margin-bottom: 50px;
      width: auto;
      height: auto; }
      #main-col #container #cube .label {
        background-color: yellow;
        text-transform: uppercase;
        text-align: center;
        margin: 10px 0;
        padding: 10px 0;
        font-family: "GraphikReg", sans-serif; }
        #main-col #container #cube .label h1 {
          margin: 0; }
      #main-col #container #cube .face {
        width: 95vw;
        height: 95vw;
        position: relative;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
        position: relative; }
        #main-col #container #cube .face.photos .photo-item {
          margin: 0;
          padding: 0% 0 0 0%; }
          #main-col #container #cube .face.photos .photo-item .photo-slideshow li .caption {
            width: 60%;
            padding: 25px 0 0 25px; }
        #main-col #container #cube .face.instagram .caption {
          display: none; }
        #main-col #container #cube .face.solution .solution-item {
          margin: 0;
          padding: 0% 0 0 0%; }

footer {
  height: 50px; }
  footer ul {
    width: 95%;
    margin: 0 2.5%;
    min-width: inherit; }
    footer ul li {
      font-size: 11px; }

#modal {
  position: fixed;
  height: 78vh; }
  #modal #body {
    display: block;
    padding: 2%;
    height: 96%; }
    #modal #body .img {
      float: left;
      padding: 0 10px 10px 0; }
    #modal #body #text {
      display: block;
      width: 100%;
      font-size: 14px; }
      #modal #body #text > *:last-child {
        margin-top: 0;
        font-size: 13px; }

#screen {
  position: fixed; }

@media screen and (min-width: 600px) {
  #modal #body .img {
    width: 20%; }
  #modal #body #text {
    font-size: 12px; }
  #main-col #container #cube .face {
    width: 45vw;
    height: 45vw; }
  #main-col #container #cube .face.photos .photo-item .photo-slideshow li .caption {
    padding: 25px 0 0 25px;
    width: 50%; }
    #main-col #container #cube .face.photos .photo-item .photo-slideshow li .caption h1 {
      font-size: 3vh; }
    #main-col #container #cube .face.photos .photo-item .photo-slideshow li .caption p {
      font-size: 2.75vh; } }
