/* global style variables */
/* TODO: colors defined here */
/* flexbox specs */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.front {
  background-color: #CC3300; }
  .front:hover {
    border-color: #CC3300;
    color: #CC3300; }

.right {
  background-color: #0033CC; }
  .right:hover {
    border-color: #0033CC;
    color: #0033CC; }

.back {
  background-color: #006666; }
  .back:hover {
    border-color: #006666;
    color: #006666; }

.left {
  background-color: #FF99CC; }
  .left:hover {
    border-color: #FF99CC;
    color: #FF99CC; }

.top {
  background-color: #000000; }
  .top:hover {
    border-color: #000000;
    color: #000000; }

.bottom {
  background-color: #FFCC00; }
  .bottom:hover {
    border-color: #FFCC00;
    color: #FFCC00; }
