/* flexbox specs */
@font-face {
  font-family: "Graphik";
  src: url("../fonts/Graphik-Regular-Web.eot?") format("eot"), url("../fonts/Graphik-Regular-Web.woff2") format("woff2"), url("../fonts/Graphik-Regular-Web.woff") format("woff"), url("../fonts/Graphik-Regular-Web.ttf") format("truetype"), url("../fonts/Graphik-Regular-Web.svg#Graphik") format("svg"); }

@font-face {
  font-family: "Swiss";
  src: url("../fonts/swiss_721_bold_extended-webfont.eot?") format("eot"), url("../fonts/swiss_721_bold_extended-webfont.woff2") format("woff2"), url("../fonts/swiss_721_bold_extended-webfont.woff") format("woff"), url("../fonts/swiss_721_bold_extended-webfont.ttf") format("truetype"), url("../fonts/swiss_721_bold_extended-webfont.svg#Swiss") format("svg"); }
