/* flexbox specs */
/* global style variables */
/* TODO: colors defined here */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.noselect, #keyMap, #container #cube .face.photos .photo-item, #container #cube .face.solution .solution-item .solution-slideshow li .caption {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  /* non-prefixed version, currently
                                  not supported by any browser */ }

.front {
  background-color: #ff0000; }
  .front svg path {
    fill: #FFF; }
  .front:hover span {
    color: #ff0000; }

.right {
  background-color: #0033CC; }
  .right svg path {
    fill: #FFF; }
  .right:hover span {
    color: #0033CC; }

.back {
  background-color: #006666; }
  .back svg path {
    fill: #FFF; }
  .back:hover span {
    color: #006666; }

.left {
  background-color: #FF99CC; }
  .left:hover span {
    color: #FF99CC; }

.top {
  background-color: #000; }
  .top svg path {
    fill: #FFF; }
  .top:hover span {
    color: #FFF; }

.bottom {
  background-color: #FFCC00; }
  .bottom:hover span {
    color: #FFCC00; }

html, body {
  margin: 0;
  width: 50000px;
  height: 50000px;
  background-image: url(/img/dot.jpg);
  background-size: 10px 10px;
  font-family: Arial; }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

#logo {
  position: fixed;
  left: 5px;
  bottom: 5px;
  width: 15vw; }

nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  left: 25px;
  top: 35px;
  position: fixed;
  z-index: 99; }
  nav hr {
    margin: 5px 0 10px 0;
    border-color: black; }
  nav a {
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    background-color: transparent !important; }
    nav a span {
      -webkit-transition: color 0.3s;
      -moz-transition: color 0.3s;
      -ms-transition: color 0.3s;
      -o-transition: color 0.3s;
      transition: color 0.3s;
      display: block;
      max-width: 100px;
      text-transform: uppercase;
      font-family: "Graphik", sans-serif;
      padding: 7px 12px;
      background-color: #FFF !important; }
    nav a.yellow {
      background-color: #fff200; }
    nav a:link {
      color: #000; }
    nav a:visited {
      color: #000; }
    nav a:hover span {
      color: blue;
      border-color: blue; }

#note, #advanced {
  position: fixed;
  right: 1%;
  top: 10%;
  padding: 10px;
  text-align: left;
  background-color: #FFF;
  width: 80px;
  opacity: 0.8;
  font-family: "Graphik", sans-serif;
  text-align: center; }
  #note a:link, #note a:visited, #advanced a:link, #advanced a:visited {
    color: black;
    text-decoration: none; }
  #note a:hover, #advanced a:hover {
    color: blue; }

#advanced {
  display: none; }

#keyMap {
  position: fixed;
  right: 3%;
  top: 3%;
  list-style-type: none;
  z-index: 99; }
  #keyMap li {
    position: absolute;
    cursor: pointer;
    padding: 3px;
    font-size: 20px; }
    #keyMap li:hover {
      color: blue; }
  #keyMap li:nth-child(1) {
    -webkit-transform: translateX(-60px) translateY(2px);
    -moz-transform: translateX(-60px) translateY(2px);
    -ms-transform: translateX(-60px) translateY(2px);
    transform: translateX(-60px) translateY(2px); }
  #keyMap li:nth-child(2) {
    -webkit-transform: translateX(-30px) translateY(-15px) rotateZ(90deg);
    -moz-transform: translateX(-30px) translateY(-15px) rotateZ(90deg);
    -ms-transform: translateX(-30px) translateY(-15px) rotateZ(90deg);
    transform: translateX(-30px) translateY(-15px) rotateZ(90deg); }
  #keyMap li:nth-child(3) {
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    transform: rotateZ(180deg); }
  #keyMap li:nth-child(4) {
    -webkit-transform: translateX(-29px) translateY(15px) rotateZ(-90deg);
    -moz-transform: translateX(-29px) translateY(15px) rotateZ(-90deg);
    -ms-transform: translateX(-29px) translateY(15px) rotateZ(-90deg);
    transform: translateX(-29px) translateY(15px) rotateZ(-90deg); }

#container {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -47.5vh;
  margin-top: -47.5vh; }
  #container #intermediary {
    perspective: 3000px;
    perspective-origin: 50% 50%; }
  #container #cube {
    -webkit-transition: opacity 0.35s ease-in-out;
    -moz-transition: opacity 0.35s ease-in-out;
    -ms-transition: opacity 0.35s ease-in-out;
    -o-transition: opacity 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out;
    z-index: 99;
    padding: 0;
    list-style-type: none;
    margin: 0;
    opacity: 1;
    width: 95vh;
    height: 95vh;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform: translateZ(-47.5vh);
    -moz-transform: translateZ(-47.5vh);
    -ms-transform: translateZ(-47.5vh);
    transform: translateZ(-47.5vh); }
    #container #cube.ready {
      opacity: 1; }
    #container #cube.smoothing {
      -webkit-transition: transform 0.66s ease-in-out;
      -moz-transition: transform 0.66s ease-in-out;
      -ms-transition: transform 0.66s ease-in-out;
      -o-transition: transform 0.66s ease-in-out;
      transition: transform 0.66s ease-in-out; }
    #container #cube .face {
      position: absolute;
      width: 100%;
      height: 100%;
      /* ie specific code */
      /* geometry definitions */ }
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        #container #cube .face {
          backface-visibility: hidden; }
          #container #cube .face.smoothing {
            -webkit-transition: transform 0.66s ease-in-out;
            -moz-transition: transform 0.66s ease-in-out;
            -ms-transition: transform 0.66s ease-in-out;
            -o-transition: transform 0.66s ease-in-out;
            transition: transform 0.66s ease-in-out; } }
      #container #cube .face.photos .photo-item {
        width: 92%;
        height: 92%;
        margin-top: 4%;
        margin-left: 4%; }
        #container #cube .face.photos .photo-item .photo-slideshow {
          padding: 0;
          position: relative;
          width: 100%;
          height: 100%; }
          #container #cube .face.photos .photo-item .photo-slideshow li {
            -webkit-transition: opacity 0.3s ease-in-out;
            -moz-transition: opacity 0.3s ease-in-out;
            -ms-transition: opacity 0.3s ease-in-out;
            -o-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
            position: absolute;
            list-style-type: none;
            width: 100%;
            height: 100%;
            background-size: cover;
            opacity: 0; }
            #container #cube .face.photos .photo-item .photo-slideshow li.active {
              opacity: 1; }
            #container #cube .face.photos .photo-item .photo-slideshow li:not(:first-child) .caption p {
              letter-spacing: 2px;
              word-spacing: -3px; }
            #container #cube .face.photos .photo-item .photo-slideshow li .caption {
              width: 50%;
              padding: 25px;
              line-height: 25px; }
              #container #cube .face.photos .photo-item .photo-slideshow li .caption h1 {
                font-family: "Goff";
                font-weight: normal;
                font-size: 20px; }
              #container #cube .face.photos .photo-item .photo-slideshow li .caption p {
                font-family: "Goff";
                font-weight: bold; }
      #container #cube .face.instagram {
        /* 2x2 grid */ }
        #container #cube .face.instagram .photo {
          position: relative;
          width: 42.5%;
          float: left;
          margin-left: 5%;
          margin-top: 5%; }
          #container #cube .face.instagram .photo img {
            width: 100%; }
          #container #cube .face.instagram .photo:hover a {
            opacity: 1; }
          #container #cube .face.instagram .photo a {
            -webkit-transition: opacity 0.3s ease-in-out;
            -moz-transition: opacity 0.3s ease-in-out;
            -ms-transition: opacity 0.3s ease-in-out;
            -o-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
            position: absolute;
            display: block;
            width: 100%;
            height: 50%;
            padding: 50% 0 0 0;
            top: 0;
            left: 0;
            background-color: rgba(105, 105, 105, 0.75);
            z-index: 100;
            text-align: center;
            line-height: 42.5%;
            color: #FFF;
            text-decoration: none;
            opacity: 0;
            font-family: "Goff";
            font-size: 20px; }
      #container #cube .face.youtube {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; }
        #container #cube .face.youtube .video {
          width: 90%;
          height: 70%;
          color: #FFF; }
          #container #cube .face.youtube .video iframe {
            width: 100%;
            height: 100%; }
      #container #cube .face.solution .solution-item {
        width: 92%;
        height: 92%;
        margin-top: 4%;
        margin-left: 4%; }
        #container #cube .face.solution .solution-item .solution-slideshow {
          padding: 0;
          position: relative;
          width: 100%;
          height: 100%; }
          #container #cube .face.solution .solution-item .solution-slideshow li {
            -webkit-transition: opacity 0.3s ease-in-out;
            -moz-transition: opacity 0.3s ease-in-out;
            -ms-transition: opacity 0.3s ease-in-out;
            -o-transition: opacity 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out;
            position: absolute;
            list-style-type: none;
            width: 100%;
            height: 100%;
            background-size: cover;
            opacity: 0; }
            #container #cube .face.solution .solution-item .solution-slideshow li.active {
              opacity: 1; }
            #container #cube .face.solution .solution-item .solution-slideshow li .caption {
              position: absolute;
              right: 30px;
              bottom: 15px;
              font-family: "Goff";
              font-size: 60px; }
      #container #cube .face .lock {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 20px;
        cursor: pointer;
        z-index: 100; }
        #container #cube .face .lock svg {
          width: 20px;
          height: 20px; }
      #container #cube .face.front {
        -webkit-transform: translateZ(47.5vh);
        -moz-transform: translateZ(47.5vh);
        -ms-transform: translateZ(47.5vh);
        transform: translateZ(47.5vh); }
      #container #cube .face.right {
        -webkit-transform: translateX(47.5vh) rotateY(90deg);
        -moz-transform: translateX(47.5vh) rotateY(90deg);
        -ms-transform: translateX(47.5vh) rotateY(90deg);
        transform: translateX(47.5vh) rotateY(90deg); }
      #container #cube .face.back {
        -webkit-transform: translateZ(-47.5vh) rotateY(180deg);
        -moz-transform: translateZ(-47.5vh) rotateY(180deg);
        -ms-transform: translateZ(-47.5vh) rotateY(180deg);
        transform: translateZ(-47.5vh) rotateY(180deg); }
      #container #cube .face.left {
        -webkit-transform: translateX(-47.5vh) rotateY(-90deg);
        -moz-transform: translateX(-47.5vh) rotateY(-90deg);
        -ms-transform: translateX(-47.5vh) rotateY(-90deg);
        transform: translateX(-47.5vh) rotateY(-90deg); }
      #container #cube .face.top {
        -webkit-transform: translateY(-47.5vh) rotateX(90deg);
        -moz-transform: translateY(-47.5vh) rotateX(90deg);
        -ms-transform: translateY(-47.5vh) rotateX(90deg);
        transform: translateY(-47.5vh) rotateX(90deg); }
      #container #cube .face.bottom {
        -webkit-transform: translateY(47.5vh) rotateX(-90deg);
        -moz-transform: translateY(47.5vh) rotateX(-90deg);
        -ms-transform: translateY(47.5vh) rotateX(-90deg);
        transform: translateY(47.5vh) rotateX(-90deg); }

#credits {
  position: fixed;
  right: 10px;
  bottom: 5px;
  font-size: 13px;
  font-family: "Graphik", sans-serif; }

.goff-blk {
  font-family: "Goff";
  font-weight: normal; }

.goff-bold {
  font-family: "Goff";
  font-weight: bold; }

.graphik-reg {
  font-family: "Graphik", sans-serif !important; }

html[data-useragent*='MSIE 10.0'] nav a {
  float: left; }

html[data-useragent*='MSIE 10.0'] #container #cube .face.photos {
  display: block; }

@media screen and (max-width: 768px) {
  html, body {
    width: 100vw;
    height: 100vh; }
  nav {
    display: block;
    left: 5vw;
    top: 10px;
    width: 95vw; }
    nav hr {
      height: 55px;
      width: 0px;
      float: left;
      margin: 2px 10px 0 10px; }
    nav a {
      font-size: 12px;
      margin-left: 10px;
      margin-bottom: 20px;
      max-width: 100%;
      float: left;
      padding: 0; }
      nav a span {
        padding: 17px 22px; }
  #note {
    display: none; }
  #keyMap {
    display: none; }
  #credits {
    width: 45vw;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 3px; }
  #logo {
    width: 45vw; }
  #container {
    left: 50vw;
    top: 60vh;
    margin-left: -45vw;
    margin-top: -45vw; }
    #container #cube {
      width: 90vw;
      height: 90vw; }
      #container #cube .face {
        /* geometry definitions */ }
        #container #cube .face.solution .solution-item .solution-slideshow li .caption {
          font-size: 35px;
          right: 25px;
          bottom: 10px; }
        #container #cube .face.photos .photo-item .photo-slideshow li .caption {
          padding: 15px;
          width: 70%; }
          #container #cube .face.photos .photo-item .photo-slideshow li .caption h1 {
            margin: 0;
            font-size: 16px; }
          #container #cube .face.photos .photo-item .photo-slideshow li .caption p {
            font-size: 12px;
            line-height: 13px;
            margin-top: 5px; }
        #container #cube .face .lock {
          display: none; }
        #container #cube .face.front {
          -webkit-transform: translateZ(45vw);
          -moz-transform: translateZ(45vw);
          -ms-transform: translateZ(45vw);
          transform: translateZ(45vw); }
        #container #cube .face.right {
          -webkit-transform: translateX(45vw) rotateY(90deg);
          -moz-transform: translateX(45vw) rotateY(90deg);
          -ms-transform: translateX(45vw) rotateY(90deg);
          transform: translateX(45vw) rotateY(90deg); }
        #container #cube .face.back {
          -webkit-transform: translateZ(-45vw) rotateY(180deg);
          -moz-transform: translateZ(-45vw) rotateY(180deg);
          -ms-transform: translateZ(-45vw) rotateY(180deg);
          transform: translateZ(-45vw) rotateY(180deg); }
        #container #cube .face.left {
          -webkit-transform: translateX(-45vw) rotateY(-90deg);
          -moz-transform: translateX(-45vw) rotateY(-90deg);
          -ms-transform: translateX(-45vw) rotateY(-90deg);
          transform: translateX(-45vw) rotateY(-90deg); }
        #container #cube .face.top {
          -webkit-transform: translateY(-45vw) rotateX(90deg);
          -moz-transform: translateY(-45vw) rotateX(90deg);
          -ms-transform: translateY(-45vw) rotateX(90deg);
          transform: translateY(-45vw) rotateX(90deg); }
        #container #cube .face.bottom {
          -webkit-transform: translateY(45vw) rotateX(-90deg);
          -moz-transform: translateY(45vw) rotateX(-90deg);
          -ms-transform: translateY(45vw) rotateX(-90deg);
          transform: translateY(45vw) rotateX(-90deg); } }

@media screen and (max-width: 320px) {
  #container #cube .face.photos .photo-item .photo-slideshow li .caption {
    width: 95%;
    padding: 5px 0 0 10px; }
    #container #cube .face.photos .photo-item .photo-slideshow li .caption h1 {
      font-size: 13px; }
    #container #cube .face.photos .photo-item .photo-slideshow li .caption p {
      margin-top: 0px;
      font-size: 11px; }
  nav {
    top: 5px; }
    nav hr {
      height: 45px; }
    nav a {
      font-size: 10px;
      margin-left: 5px; }
  #credits {
    font-size: 12px; } }
