/* flexbox specs */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* global style variables */
/* TODO: colors defined here */
.noselect, #main-col #container #cube .face.photos .photo-item, #main-col #container #cube .face.solution .solution-item, #main-col #container #cube .face.solution .solution-item .solution-slideshow li .caption {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  /* non-prefixed version, currently
                                  not supported by any browser */ }

.front {
  background-color: #2ed03c; }
  .front:hover span {
    color: white; }

.right {
  background-color: #7859b1; }
  .right:hover span {
    color: white; }

.back {
  background-color: #006666; }
  .back:hover span {
    color: white; }

.left {
  background-color: #FF99CC; }
  .left:hover span {
    color: white; }

.top {
  background-color: black; }
  .top:hover span {
    color: white; }

.bottom {
  background-color: white; }
  .bottom:hover span {
    color: white; }

html, body {
  margin: 0;
  background-image: url("../img/cubebot-background-bright.gif");
  font-family: Arial;
  height: 100%;
  width: 100%;
  min-width: 960px; }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

footer {
  width: 100vw;
  position: fixed;
  background: black;
  height: 35px;
  bottom: 0px;
  text-align: center;
  color: white;
  font-family: "GraphikReg", sans-serif; }
  footer ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 35%;
    margin: 0 35%;
    padding: 0;
    height: 100%; }
    footer ul li {
      display: inline-block; }
      footer ul li a {
        color: #FFF;
        text-decoration: none;
        transition: color .25s ease-in-out; }
        footer ul li a:hover {
          color: yellow; }

section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  width: 100%; }

nav {
  width: 13%;
  height: auto;
  min-width: 140px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 2%; }
  nav hr {
    margin: 5px 0 10px 0;
    border-color: black;
    width: 120px; }
  nav a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    transition: background-color .2s ease-in-out;
    width: 125px;
    height: 60px;
    text-decoration: none;
    background-color: yellow;
    margin-bottom: 10px; }
    nav a span {
      -webkit-transition: color 0.3s;
      -moz-transition: color 0.3s;
      -ms-transition: color 0.3s;
      -o-transition: color 0.3s;
      transition: color 0.3s;
      padding: 10px;
      text-transform: uppercase;
      text-align: center;
      font-family: "GraphikReg", sans-serif; }
    nav a:link {
      color: #000; }
    nav a:visited {
      color: #000; }
    nav a:hover {
      background-color: white; }

#main-col {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: calc(100% - 35px);
  width: 87%; }
  #main-col header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    margin-left: -13%; }
    #main-col header #logo {
      height: 75%; }
  #main-col #container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 85%;
    margin-left: -13%; }
    #main-col #container #intermediary {
      perspective: 3000px;
      perspective-origin: 50% 50%; }
    #main-col #container #cube {
      -webkit-transition: opacity 0.35s ease-in-out;
      -moz-transition: opacity 0.35s ease-in-out;
      -ms-transition: opacity 0.35s ease-in-out;
      -o-transition: opacity 0.35s ease-in-out;
      transition: opacity 0.35s ease-in-out;
      z-index: 99;
      padding: 0;
      list-style-type: none;
      margin: 0;
      opacity: 1;
      width: 75vh;
      height: 75vh;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -webkit-transform: translateZ(-37.5vh);
      -moz-transform: translateZ(-37.5vh);
      -ms-transform: translateZ(-37.5vh);
      transform: translateZ(-37.5vh); }
      #main-col #container #cube.ready {
        opacity: 1; }
      #main-col #container #cube.smoothing {
        -webkit-transition: transform 0.66s ease-in-out;
        -moz-transition: transform 0.66s ease-in-out;
        -ms-transition: transform 0.66s ease-in-out;
        -o-transition: transform 0.66s ease-in-out;
        transition: transform 0.66s ease-in-out; }
      #main-col #container #cube .face {
        position: absolute;
        width: 100%;
        height: 100%;
        /* ie specific code */
        /* geometry definitions */ }
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          #main-col #container #cube .face {
            backface-visibility: hidden; }
            #main-col #container #cube .face.smoothing {
              -webkit-transition: transform 0.66s ease-in-out;
              -moz-transition: transform 0.66s ease-in-out;
              -ms-transition: transform 0.66s ease-in-out;
              -o-transition: transform 0.66s ease-in-out;
              transition: transform 0.66s ease-in-out; } }
        #main-col #container #cube .face.photos .photo-item {
          width: 100%;
          height: 100%;
          margin-top: 0%;
          margin-left: 0%; }
          #main-col #container #cube .face.photos .photo-item .photo-slideshow {
            padding: 0;
            position: relative;
            width: 100%;
            height: 100%; }
            #main-col #container #cube .face.photos .photo-item .photo-slideshow li {
              -webkit-transition: opacity 0.3s ease-in-out;
              -moz-transition: opacity 0.3s ease-in-out;
              -ms-transition: opacity 0.3s ease-in-out;
              -o-transition: opacity 0.3s ease-in-out;
              transition: opacity 0.3s ease-in-out;
              position: absolute;
              list-style-type: none;
              width: 100%;
              height: 100%;
              background-size: cover;
              opacity: 0; }
              #main-col #container #cube .face.photos .photo-item .photo-slideshow li.active {
                opacity: 1; }
              #main-col #container #cube .face.photos .photo-item .photo-slideshow li:not(:first-child) .caption {
                width: 80%; }
                #main-col #container #cube .face.photos .photo-item .photo-slideshow li:not(:first-child) .caption p {
                  letter-spacing: 0px;
                  word-spacing: 0px; }
              #main-col #container #cube .face.photos .photo-item .photo-slideshow li .caption {
                width: 43%;
                height: 90%;
                padding: 35px 0 0 45px;
                line-height: 1.5;
                overflow: auto; }
                #main-col #container #cube .face.photos .photo-item .photo-slideshow li .caption h1 {
                  font-family: "GraphikReg", sans-serif;
                  font-weight: normal;
                  font-size: 2.5vh;
                  margin-top: 0;
                  letter-spacing: 0px; }
                #main-col #container #cube .face.photos .photo-item .photo-slideshow li .caption p {
                  font-family: "GraphikReg", sans-serif;
                  font-weight: bold;
                  font-size: 2vh; }
        #main-col #container #cube .face.instagram {
          /* 2x2 grid */ }
          #main-col #container #cube .face.instagram .photo {
            position: relative;
            width: 28.33333%;
            float: left;
            margin-left: 3.75%;
            margin-top: 3.75%; }
            #main-col #container #cube .face.instagram .photo img {
              width: 100%; }
            #main-col #container #cube .face.instagram .photo:hover a {
              opacity: 1; }
            #main-col #container #cube .face.instagram .photo a {
              -webkit-transition: opacity 0.3s ease-in-out;
              -moz-transition: opacity 0.3s ease-in-out;
              -ms-transition: opacity 0.3s ease-in-out;
              -o-transition: opacity 0.3s ease-in-out;
              transition: opacity 0.3s ease-in-out;
              display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              -webkit-flex-direction: column;
              -ms-flex-direction: column;
              flex-direction: column;
              -webkit-justify-content: center;
              -ms-flex-pack: center;
              justify-content: center;
              position: absolute;
              width: 100%;
              height: 99%;
              top: 0;
              left: 0;
              background-color: rgba(105, 105, 105, 0.75);
              z-index: 100;
              text-align: center;
              color: #FFF;
              text-decoration: none;
              opacity: 0;
              font-family: "GraphikReg", sans-serif;
              font-size: 20px; }
              #main-col #container #cube .face.instagram .photo a p {
                font-size: 14px;
                padding: 0 10%;
                margin: 0; }
        #main-col #container #cube .face.youtube {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center; }
          #main-col #container #cube .face.youtube .video {
            width: 90%;
            height: 70%;
            color: #FFF; }
            #main-col #container #cube .face.youtube .video iframe {
              width: 100%;
              height: 100%; }
        #main-col #container #cube .face.solution .solution-item {
          width: 100%;
          height: 100%;
          margin-top: 0;
          margin-left: 0; }
          #main-col #container #cube .face.solution .solution-item .solution-slideshow {
            padding: 0;
            position: relative;
            width: 100%;
            height: 100%; }
            #main-col #container #cube .face.solution .solution-item .solution-slideshow li {
              -webkit-transition: opacity 0.3s ease-in-out;
              -moz-transition: opacity 0.3s ease-in-out;
              -ms-transition: opacity 0.3s ease-in-out;
              -o-transition: opacity 0.3s ease-in-out;
              transition: opacity 0.3s ease-in-out;
              position: absolute;
              list-style-type: none;
              width: 100%;
              height: 100%;
              background-size: cover;
              opacity: 0; }
              #main-col #container #cube .face.solution .solution-item .solution-slideshow li.active {
                opacity: 1; }
              #main-col #container #cube .face.solution .solution-item .solution-slideshow li .caption {
                position: absolute;
                right: 30px;
                bottom: 15px;
                font-family: "GraphikReg", sans-serif;
                font-size: 3vh; }
        #main-col #container #cube .face.front {
          -webkit-transform: translateZ(37.5vh);
          -moz-transform: translateZ(37.5vh);
          -ms-transform: translateZ(37.5vh);
          transform: translateZ(37.5vh); }
        #main-col #container #cube .face.right {
          -webkit-transform: translateX(37.5vh) rotateY(90deg);
          -moz-transform: translateX(37.5vh) rotateY(90deg);
          -ms-transform: translateX(37.5vh) rotateY(90deg);
          transform: translateX(37.5vh) rotateY(90deg); }
        #main-col #container #cube .face.back {
          -webkit-transform: translateZ(-37.5vh) rotateY(180deg);
          -moz-transform: translateZ(-37.5vh) rotateY(180deg);
          -ms-transform: translateZ(-37.5vh) rotateY(180deg);
          transform: translateZ(-37.5vh) rotateY(180deg); }
        #main-col #container #cube .face.left {
          -webkit-transform: translateX(-37.5vh) rotateY(-90deg);
          -moz-transform: translateX(-37.5vh) rotateY(-90deg);
          -ms-transform: translateX(-37.5vh) rotateY(-90deg);
          transform: translateX(-37.5vh) rotateY(-90deg); }
        #main-col #container #cube .face.top {
          -webkit-transform: translateY(-37.5vh) rotateX(90deg);
          -moz-transform: translateY(-37.5vh) rotateX(90deg);
          -ms-transform: translateY(-37.5vh) rotateX(90deg);
          transform: translateY(-37.5vh) rotateX(90deg); }
        #main-col #container #cube .face.bottom {
          -webkit-transform: translateY(37.5vh) rotateX(-90deg);
          -moz-transform: translateY(37.5vh) rotateX(-90deg);
          -ms-transform: translateY(37.5vh) rotateX(-90deg);
          transform: translateY(37.5vh) rotateX(-90deg); }

.graphik-reg {
  font-family: "GraphikReg", sans-serif; }

.graphik-med {
  font-family: "graphikMed"; }

html[data-useragent*='MSIE 10.0'] nav a {
  float: left; }

html[data-useragent*='MSIE 10.0'] #container #cube .face.photos {
  display: block; }
