<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

    <title>Cubebot.com - Areaware</title>
    <link rel="shortcut icon" href="img/square.png" type="image/png" />

    <meta name="description" content="Cubebot is a wooden toy robot inspired by Japanese Shinto Kumi-ki puzzles. Made from wood and elastic, Cubebot can be positioned to hold dozens of poses. When it's time to rest, Cubebot folds back into a perfect cube. A classic toy for all ages that will endure generations of play." />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Areaware">
    <meta name="twitter:title" content="Cubebot! by AREAWARE">
    <meta name="twitter:description" content="Cubebot is a wooden toy robot inspired by Japanese Shinto Kumi-ki puzzles. Made from wood and elastic, Cubebot can be positioned to hold dozens of poses. When it's time to rest, Cubebot folds back into a perfect cube. A classic toy for all ages that will endure generations of play.">

    <meta property="og:title" content="Cubebot! by AREAWARE" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://cubebot.com/" />
    <meta property="og:description" content="Cubebot is a wooden toy robot inspired by Japanese Shinto Kumi-ki puzzles. Made from wood and elastic, Cubebot can be positioned to hold dozens of poses. When it's time to rest, Cubebot folds back into a perfect cube. A classic toy for all ages that will endure generations of play." />
    <meta property="og:site_name" content="Cubebot! by AREAWARE" />

    <link rel='stylesheet' type='text/css' href='css/fonts.css' charset='utf8'>
    <link rel='stylesheet' type='text/css' href='css/main.css' charset='utf8'>

    <script type='text/template' id='solution-template'>
        <ul class='solution-slideshow'>
            <% _.each(o.get('media'), function (m){ %>
                <li style="background-image: url('<%= m.photo %>');" title='Click to advance'>
                    <div class='caption'><%= m.caption %></div>
                </li>
            <% }); %>
        </ul>
    </script>

    <script type='text/template' id='photography-template'>
        <li style="background-image: url('<%= o.get('photo') %>');" title='Click to advance'>
            <div class='caption'><%= o.get('caption') %></div>
        </li>
    </script>

    <script type='text/javascript' src='js/jquery-2.1.4.min.js'></script>
    <script type='text/javascript' src='js/jquery.mobile.custom.min.js'></script>
    <script type='text/javascript' src='js/underscore-min.js'></script>
    <script type='text/javascript' src='js/backbone-min.js'></script>

    <script type='text/javascript' src="js/facets.js"></script>
    <script type='text/javascript' src="js/main.js"></script>
</head>
<body>
    <div id='modal' class='off'>
        <a class='close' href='#'>x</a>
        <div id='body'>
            <div class='img'>
                <img src='http://cubebotcom.s3.amazonaws.com/photography/ModalPageImage.jpg'>
            </div>
            <div id='text'></div>
        </div>
    </div>
    <div id='screen'></div>
    <section>
        <nav></nav>
        <div id='main-col'>
            <header>
                <img src='/img/cubebot-logo.svg' id='logo'>
            </header>
            <div id='container'>
                <div id='intermediary'></div>
            </div>
        </div>
    </section>

    <footer>
        <ul>
            <li><a href='http://wholesale.areaware.com/collections/cubebot'>wholesale</a></li>
            <li><a href='http://www.areaware.com/collections/cubebot'>shop online</a></li>
            <li><a href="http://www.areaware.com/pages/store-locator">store locator</a></li>
            <li><a class='about-modal' href="#">about</a></li>
        </ul>
    </footer>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-69797108-2', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>